.main {
    background-color: white;
    color: rgb(177, 175, 175);
    width: 800px;
    margin: 0 calc((100% - 800px) / 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PUSLAPIO VIRŠUS */

.top {
    display: block;
    border-color: rgb(177, 175, 175);
    border-bottom-style: solid;
}

h2 {
    margin: 10px 0;
    transform: scale(1, 1.2);
}

/* PUSLAPIO APAČIA */

.bottom {
    border-color: rgb(177, 175, 175);
    border-bottom-style: solid;
    display: flex;
    flex-direction: row;
}

.bottom > * {
    width: 400px;
}

/* APAČIA -> KAIRĖ */

.bottom-left-inline {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.bottom-left {
    margin: 40px 0 0 0;
}

.p14 {
    font-size: 14px;
    text-align: justify;
}

.bottom-left a {
    color: red;
}

h1 {
    color: red;
    font-size: 30px;
    text-align: justify;
}

.bottom-left-bottom > * {
    display: inline-block;
}

.giro-left {
    width: 75%;
}

.giro {
    width: 15%; 
    border-color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    padding-bottom: 3px;
    transform: rotate(7deg);
    margin-left: 7%;
}

.giro p {
    color: black;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: 0.9;
}

.girotxt {
    font-size: 19px;
    transform: scale(1, .9);

}

.giro300 {
    font-size: 27px;
    transform: scale(1, 1.2);
}

.logo {
    margin-top: auto;
}

.logo img {
    width: 300px;
}

/* APAČIA -> DEŠINĖ */

.bottom-right img {
    width: 350px;
    display:block;
    margin:auto;
}

